@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.css';
@import 'assets/styles/colors.scss';
@import 'assets/styles/sizes.scss';

// TODO: refactoring
// @import 'assets/styles/timelines.scss';

* {
   font-family: 'primeicons', Poppins !important;
}

body {
   margin: 0px;
   padding: 0px;
   background-color: $assistant-color-light-grey;
}